/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #6F8DA1;
}

.hero {
    background:url('img/background-1.jpg') no-repeat center center/cover;
    color: #fff;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text{
    flex:2;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}




/* Body Layout */
.handynutzer{
    display: flex; /* Horizontales Layout */
    align-items: center; /* Vertikale Ausrichtung */
    color: #5a6b7b; /* Schriftfarbe */
    text-align: center;
    background-image: none;
}

.handynutzer h2 {
    font-size: 2rem; /* Titelgröße */
    margin-bottom: 20px; /* Abstand unterhalb des Titels */
}

