body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

/*alles über header*/

header {
    background: #8ab0db;
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero {
    background:url('img/background-1.jpg') no-repeat center center/cover;
    color: #fff;
    height: 50vh;
}

.hero-content {
    display: flex;
    width:700px;
    margin:auto;
}

.home{
    padding-top: 40px;
}

.hero-text{
    flex:2;
}
.hero-picture{
    flex:1;
}

.hero-picture img{
    width:200px;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;

}

.appdownload h2 {

    font-size: 64px;
}

.appdownload_platform {
    display: flex;
    justify-content: space-between;
}

.appdownload_platform img {
    width: 30vw;
}

.appdownload_platform p {
    font-size: 36px;
}