.input-box {
    height: 50px;
  }

  .container_kontakt {
    display: flex; /* Horizontales Layout */
    justify-content: space-between; /* Abstand zwischen linken und rechten Teil */
    align-items: center; /* Vertikale Ausrichtung */
    padding: 50px; /* Abstand zum Rand */
    color: #FFFFFF; /* Schriftfarbe */
    
}

.container_kontakt .content {
    flex: 1; /* Nutzt gleiche Breite wie das Bild */
    margin-right: 20px; /* Abstand zum Bild */
}

.container_kontakt .content h2 {
    font-size: 2rem; /* Titelgröße */
    margin-bottom: 20px; /* Abstand unterhalb des Titels */
}

.container_kontakt .content p {
    font-size: 1.2rem; /* Textgröße */
}

.container_kontakt .image {
    flex: 1; /* Gleiche Breite wie Textinhalt */
}

.container_kontakt .image img {
    max-width: 300px; /* Maximale Breite von 300 Pixel */
    width: 100%; /* Fallback für kleinere Container */
    height: auto; /* Beibehaltung der Proportionen */
}

.container_FAQ {
    display: flex; /* Horizontales Layout */
    justify-content: space-between; /* Abstand zwischen linken und rechten Teil */
    align-items: center; /* Vertikale Ausrichtung */
    padding: 50px; /* Abstand zum Rand */
    color: #5a6b7b; /* Schriftfarbe */
    background-color: #FFFFFF;
    
}

.body_ville {
    font-family: Arial, sans-serif; /* Schriftart für die gesamte Seite */
    margin: 0; /* Entfernt Standardabstände */
    padding: 0; /* Entfernt Standardabstände */
    box-sizing: border-box; /* Sorgt für konsistente Größenberechnung */
    background-color: #8CA4BC; /* Hintergrundfarbe der Seite */
    background-size: cover; /* Bild skaliert auf gesamten Bildschirm */
    background-position: center; /* Hintergrundbild zentrieren */
    background-attachment: fixed; /* Hintergrund bleibt beim Scrollen */
}

input[type=text] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
  }

  input[type=text]:focus {
    border: 3px solid #8CA4BC;
  }

.textarea {
    width: 75%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none
  }

select {
    width: 7%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #f8f8f8;
    border: none;
    color: #727272;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }